<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
名称空间-->
<mapper namespace="com.itheima.mapper.WeaponMapper">
    <select id="selectAllweapon" resultType="weapon">
        select * from weapon;
    </select>
    <select id="selectById" resultType="weapon">

    </select>
</mapper>