<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" href=""/> -->
</head>

<body>
    <script src="js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <script src="js/axios.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css" />
    <div id="app">
        <!-- 当el-table元素中注入data对象数组后，在el-table-column中用prop属性来对
            应对象中的键名即可填入数据，用label属性来定义表格的列名。可以使用width属性来定义列宽。 -->
            <el-row>
                <el-button type="danger" plain @click="deleteByIds">删除饰品</el-button>
                <el-button type="primary" plain @click="addVisible = true">新增饰品</el-button>
            </el-row>
            <template>
            <el-table :data="tableData" style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
                <el-table-column prop="aname" label="饰品名称" width="180">
                </el-table-column>
                <el-table-column prop="hp" label="饰品血量" width="180">
                </el-table-column>
                <el-table-column prop="defense" label="饰品防御力" width="180">
                </el-table-column>
                <el-table-column prop="aimg" label="饰品图片">
                    <template slot-scope="scope">
                        <img :src="scope.row.aimg" @click="previewPic(scope.row.aimg)" />
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog :visible.sync="dialogVisible" :modal="false" title="图片预览" width="50%">

                <img :src="previewpic" alt="" width="100%" />

                <span slot="footer" class="dialog-footer">

                    <el-button type="primary" @click="dialogVisible= false">确
                        定</el-button>
                </span>

            </el-dialog>
        </template>

        <el-dialog
        title="增加饰品"
        :visible.sync="addVisible"
        width="30%"
>

    <el-form ref="form" :model="accessories" label-width="80px">
        <el-form-item label="饰品名称">
            <el-input v-model="accessories.aname"></el-input>
        </el-form-item>

        <el-form-item label="生命值">
            <el-input v-model="accessories.hp"></el-input>
        </el-form-item>

        <el-form-item label="防御力">
            <el-input v-model="accessories.defense"></el-input>
        </el-form-item>
        <el-form-item label="图片链接">
            <el-input v-model="accessories.aimg"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="addaccessories">提交</el-button>
            <el-button @click="addVisible = false">取消</el-button>
        </el-form-item>
    </el-form>

</el-dialog>
    </div>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],
                    addVisible: false,
                    imgVisible:false,
                    previewpic: "",
                    //accessories数据模型
                    accessories:{
                        aId:'',
                        aname:'',
                        hp:'',
                        defense:'',
                        aimg:""
                    },
                    // 被选中的id数组
                selectedIds:[],
                // 复选框选中数据集合
                multipleSelection: [],
                }
            },
            mounted() {
                axios({
                    url: "http://localhost:8080/dazuoye/GetListServlet",
                    method: 'get',  // method:'post'
                    params: {
                        type: 'accessories'  // url上拼接 ?type_one=饮食
                    }
                }).then(res => {
                    this.tableData = res.data
                    console.log(res);
                })
            },
            methods: {
                //预览大图
                previewPic(url) {
                    this.previewpic = url;
                    this.dialogVisible = true;
                },
                addaccessories(){
                    var _this=this
                    //增加新饰品的函数
                    axios({
                        method:"post",
                        url:"http://localhost:8080/dazuoye/addAccessories",
                        data:_this.accessories
                    }).then(res=>{
                        if(res.data == "success"){
                            this.addVisible = false;
                        }
                    })
                },
                // 复选框选中后执行的方法
                handleSelectionChange(val) {
                    this.multipleSelection = val;
    
                   // console.log(this.multipleSelection[0].aId)
                    //console.log(this.multipleSelection)
                },
                deleteByIds(){
                    // 弹出确认提示框
                    this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        //用户点击确认按钮
                        
                        for (let i = 0; i < this.multipleSelection.length; i++) {
                            let selectionElement = this.multipleSelection[i];
                            console.log(this.multipleSelection[i].aId)
                            this.selectedIds[i] = selectionElement.aId;
                        }
    
                        //2. 发送AJAX请求
                        var _this = this;
    
                        // 发送ajax请求，添加数据
                        axios({
                            method:"post",
                            url:"http://localhost:8080/dazuoye/DeleAccessoriesById",
                            data:_this.selectedIds
                        }).then(function (resp) {
                            if(resp.data == "success"){
                                //删除成功
                                // 重新查询数据
                                _this.$message({
                                    message: '恭喜你，删除成功',
                                    type: 'success'
                                });
    
                            }
                        })
                    }).catch(() => {
                        //用户点击取消按钮
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                }

            }


        });

    </script>
</body>

</html>